 .about{
    @apply pt-28 text-white w-full min-h-screen mr-auto ml-auto;
    background-color: #020D1E;

    .stress{
        color: #F907FC;
        font-weight: 700;
    }
    &-container{
        @apply px-7  md:pl-10 lg:pl-36 delay-200;

        .title{
            @apply font-bold text-4xl lg:text-5xl mb-16 whitespace-pre-wrap box-border max-w-full w-[360px] ;
            color: #4D5DFB;  
        }

        &-content {
            @apply block lg:flex flex-col lg:flex-row justify-between items-center w-full;


            &-info{
                @apply whitespace-normal w-full lg:max-w-2xl lg:pr-10 lg:items-center;
                span {
                    @apply text-lg font-extrabold;
                    color: #F907FC;
                    font-family: 'Charm';
                }
                p{
                    @apply w-full flex-wrap text-base font-light py-3;
                } 
            }
            
            .image{
                @apply lg:w-1/2; 
                
                img{
                    @apply w-52 lg:w-72 h-52 lg:h-72 overflow-hidden rounded-full;
                    background-color: #4D5DFB;
                }
            }
           

            @media screen and (max-width: 1024px) {
                .image{
                    img{
                        margin: 50px auto 0px;
                        max-width: 208px;
                        border-radius: 50%;
                        box-sizing: inherit;
                    }
                }    
            }
        }
        &-skill{
             @apply pt-11;

            h3{
            @apply text-2xl font-bold mb-5;
            }
        }
 
        .iconsContainer{
            @apply inline-flex relative flex-wrap min-h-full md:w-[80%] lg:w-[685px] box-border items-center gap-4 lg:gap-10 pt-10;
        }       
    }
 }