 .pages{
    .stress{
        color: #F907FC;
        font-weight: 700;
    }
    .info{
        @apply whitespace-normal w-full lg:max-w-2xl gap-8 lg:items-center;
        span {
            @apply text-lg font-extrabold;
            color: #F907FC;
            font-family: 'Charm';
        }
        p{
            @apply w-full flex-wrap text-base font-light py-3;
        } 
    }
    .about-img{
        @apply max-w-[300px] relative lg:pr-12;
        .wrapper{
            @apply block relative w-full rounded-xl;
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            background-color: #F907FC;

            &:hover,
            &:focus {
                outline: 0;
                &:after {
                    top: 15px;
                    left: 15px;
                }

                .img {
                    filter: none;
                    mix-blend-mode: normal;
                }
            }

            .img {
                @apply overflow-hidden rounded-lg;
                position: relative;
                mix-blend-mode: multiply;
                filter: blur(5px);
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            &:before {
                top: 0;
                left: 0;
                background-color: #F907FC;
                mix-blend-mode: screen;
            }

            &:after {
                border: 2px solid #F907FC;
                top: 20px;
                left: 20px;
                z-index: -1;
            }
    }
}    
    
    @media screen and (max-width: 1024px) {
        .about-img{
            margin: 40px auto 0px;
            width: 70%;
            box-sizing: inherit;
            padding-bottom: 2rem;
        }    
    }

    .nowadays{
        @apply pb-10 pt-4 text-base font-light w-full max-w-2xl;

        h3{
            @apply text-2xl font-bold mb-5;
        }
    }

    &__wrapper{
        @apply w-full h-full;
        background: linear-gradient(90.12deg, #0B1EDA 0.11%, #F907FC 99.91%);
        box-shadow: 0px 3px 20px 3px #161a50;

        &--contents{
            @apply  w-full max-w-6xl mx-auto text-center items-start pt-10 pb-20 px-8 lg:px-12 relative overflow-hidden delay-200;
        }

        &--iconsContainer{
            @apply inline-flex relative flex-wrap box-border items-center justify-center gap-10 lg:gap-20 pt-10 delay-200;
            
            svg{
                display: inline;
            }
        }  

        &--skill{
            h3{
            @apply text-3xl lg:text-5xl font-bold pb-7;
            }

            p{
                @apply font-normal text-base mb-5;
            }
        }
    }
 }