 .pages{
    .stress{
        color: #F907FC;
        font-weight: 700;
    }

    .info{
        @apply whitespace-normal w-full lg:max-w-2xl lg:pr-10 lg:items-center;
        span {
            @apply text-lg font-extrabold;
            color: #F907FC;
            font-family: 'Charm';
        }
        p{
            @apply w-full flex-wrap text-base font-light py-3;
        } 
    }
    
    img{
        @apply w-52 lg:w-72 h-52 lg:h-72 overflow-hidden rounded-full border-blue-900 border;
        background-color: #040936;
    }

    @media screen and (max-width: 1024px) {
        img{
            margin: 50px auto 0px;
            max-width: 280px;
            border-radius: 50%;
            box-sizing: inherit;
        }    
    }
    .skill{
            @apply pt-11;

        h3{
        @apply text-2xl font-bold mb-5;
        }
    }

    .nowadays{
        @apply py-20 text-base font-light w-full;

        h3{
            @apply text-2xl font-bold mb-5;
        }
    }

    .iconsContainer{
        @apply inline-flex relative flex-wrap min-h-full w-full lg:w-[685px] box-border items-center gap-4 lg:gap-8 pt-10 delay-200;
    }       
 }