.footer{
    @apply text-white w-full h-full;

    &-container{
        @apply  w-full max-w-7xl mx-auto items-start py-28 px-9 pl-9 pr-9 relative overflow-hidden transition delay-200;

        &-titleF{
            @apply font-bold text-4xl lg:text-5xl lg:text-left text-center text-primary mb-8 whitespace-pre-wrap box-border max-w-full lg:w-[360px] transition delay-200;
        }

        &-info{
            @apply lg:flex lg:flex-row flex-col lg:justify-between justify-center items-center transition delay-200; 
            &-subTitle{
                @apply text-base font-normal text-center lg:text-left whitespace-pre-wrap w-full lg:max-w-xs space-y-8 transition delay-200;
            }
        }

        &-email{
            @apply text-center lg:text-left space-y-3 lg:pr-9;

            .iconEmail{
                @apply flex items-center pb-3 transition delay-200;
            }

            h2{
                @apply font-bold lg:text-3xl 
                text-lg 
                cursor-pointer 
                transition 
                delay-200 
                lg:leading-[3rem] 
                leading-[2rem] 
                overflow-hidden w-max
                max-w-full
                mx-auto
                relative
                pb-1

                after:content-['']
                after:h-[2px]
                after:bottom-0
                after:left-[0.2rem]
                after:right-[0.2rem]
                after:bg-secondary
                after:absolute
                after:lg:h-1
                ;
                background: linear-gradient(85.26deg, #4456fa 11.44%, #fb00ff 80.77%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                &:hover{
                    transform: translateY(-3px);
                    transition: transform .2s ease-out;
                }
            }
            &-icon{
                @apply inline-block text-center lg:flex mt-6;
            }
        }

        &-location{
            @apply inline-block text-center lg:flex mt-6;
        }
    }
    &-socials{
        @apply justify-center text-center pb-3 lg:pt-14 w-full px-4;

        &-icons{
            @apply mb-3 lg:hidden;
            svg{
                @apply inline-block text-center first-line:flex-row;

                &:hover{
                    transform: translateY(-3px);
                    transition: transform .2s ease-out;
                }
            }
        }
        span{
            @apply text-xs lg:text-sm font-normal text-gray-400;
        }
    }

    &-line{
        @apply w-full h-2 absolute;
        background: linear-gradient(90.12deg, #0B1EDA 0.25%, #F907FC 80.91%);
    }

}