*,
*::before,
*::after {
  @apply box-border
}

select {
  @apply appearance-none bg-transparent text-white cursor-pointer border-none m-0 w-full rounded-none;
  padding: 0 1em 0;
  &::-ms-expand {
    display: none;
  }
  option{
    background-color: #020D1E;
  }
}

select {
  outline: none;
}