.pages{

    .cards{
        @apply flex gap-10 justify-center;

        &-contents{
            @apply  p-6 max-w-xs rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700;
            box-shadow: 0 10px 25px -15px #112240;
            transition: transform 0.15s ease-out;
            background-color: rgba(2, 13, 47, 0.5);
            &:hover{
                transition: transform 0.15s ease-out;
                transform: translateY(-7px);
                box-shadow: 0 10px 25px -15px #020711;
            }

            h5{
                @apply mb-2 text-2xl font-semibold tracking-tight text-white;
            }

            p{
                @apply mb-8 font-normal text-gray-400 dark:text-gray-400; 
            }

            &-tools{
                @apply flex items-center gap-3 text-fuchsia-600;
            }
        }
    }
    .repository{
        @apply flex items-center justify-center text-fuchsia-600 font-medium text-lg py-10;
    }
}