 .pages{
    .info{
        @apply flex flex-col items-start;
        @apply whitespace-normal leading-6 w-full lg:max-w-2xl lg:items-center;
        span {
            @apply text-lg font-extrabold text-secondary;
        }
        p{
            @apply w-full flex-wrap text-sm lg:text-base font-light py-3;
        }

        .description {
			@apply overflow-hidden transition-all transform text-xs leading-6 lg:text-lg lg:leading-7;
		}

		.seeMore {
			@apply self-end font-medium text-primary hover:text-gray-500;
		}
    }
    .button{
        @apply pt-8 flex justify-center pb-1 lg:justify-start;
        @media screen and (max-width: 1024px) {
            display: none;  
        }


    }

    .download{
        @apply flex font-medium text-white text-base rounded w-48 h-14 justify-center cursor-pointer items-center bg-secondary;
        box-shadow: 0px 5px 5px 0px #021127;
        &:hover{
            transform: translateY(-7px);
            transition: transform .2s ease-out; 
        }
        a{
            @apply flex;
        }
    }
    .__backgr{
        @apply lg:p-7 p-4;
        background: #031229;
        box-shadow: 0px 5px 5px 0px #021127;
        border-radius: 8px;
    }
    .about-img {
        @apply max-w-[300px] relative lg:pr-8;
        .wrapper{
            @apply block relative w-full rounded-xl text-secondary;
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

            &:hover,
            &:focus {
                outline: 0;
                &:after {
                    top: 15px;
                    left: 15px;
                }

                .img {
                    filter: none;
                    mix-blend-mode: normal;
                }
            }

            .img {
                @apply overflow-hidden rounded-lg;
                position: relative;
                
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }

            &:before {
                @apply top-0 left-0 bg-secondary mix-blend-screen;
            }

            &:after {
                @apply top-5 left-5 -z-10 border-secondary border-[2px];
            }
        }
    }    
    @media screen and (max-width: 1024px) {
        .about-img{
            margin: 40px auto 0px;
            width: 70%;
            box-sizing: inherit;
            padding-bottom: 2rem;
        }    
    }

    .stress :deep(strong) {
        @apply text-secondary font-medium text-base;
    }

    .nowadays{
        @apply  pb-0 lg:pb-10 pt-4 text-sm lg:text-base font-light w-full max-w-2xl;

        h3{
            @apply text-2xl font-bold mb-5;
        }
    }

    &__wrapper{
        @apply  w-full mx-auto text-center items-start pt-28 relative overflow-hidden;
    
        &--iconsContainer{
            @apply py-10 lg:py-16;
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            box-sizing: border-box;
            gap: 20px;
              
        } 
        
        ._cards{
            width: 130px;
            height: 114px;
            flex-shrink: 0;
            border-radius: 8px;
            background: #031229;
            box-shadow: 0px 5px 5px 0px #021127;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover{
                transform: translateY(-7px);
                transition: transform .2s ease-out; 
            }
        }

        &--skill{
            @apply text-left;
            h3{
            @apply text-3xl lg:text-5xl font-bold pb-7 text-primary;
            }
            p{
                @apply font-normal text-base mb-5;
            }
        }
    }
}
