header {
    @apply flex flex-wrap fixed top-0 left-0 w-full transition-all duration-100 z-50 ;

    &.scroll {
        background-color: rgba(2, 13, 47, 0.5);
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(9px);

        .header {
            @apply lg:py-4;
        }
    }

    .header {
        transition: all 0.2s;
      @apply flex flex-wrap w-full items-center py-3 lg:pl-8 justify-between lg:py-7 lg:flex-nowrap lg:items-center lg:mx-auto lg:max-w-7xl overflow-hidden;
    }

    .header-link {
      @apply px-3 text-2xl inline-block 
      relative
      transition-all duration-200 
      lg:px-0 lg:text-base font-normal
      text-letters focus:outline-none;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fb00ff;
        transform-origin: bottom left;
        transition: transform .4s ease-out;
      }
      
        &:hover::after {
            transform: scaleX(1);
        }
      }

    .nav {
       @apply w-full h-0 transition-all duration-300 lg:w-auto lg:h-auto;

        nav {
            @apply flex flex-col h-full lg:flex-row pr-0 lg:pr-14;

            .navbar {
                @apply flex flex-col items-center mb-12 lg:flex-row lg:mb-0 lg:flex-1 lg:w-full lg:space-x-8 lg:mt-0 mt-14;

                li {
                    @apply py-3 relative lg:py-0;
                }
            }
        }
    }
    .nav-button {
        @apply pl-7 pt-4 lg:hidden;
    }

    .logo {
        @apply flex font-medium text-3xl absolute left-1/2 transform -translate-x-1/2 lg:static lg:transform-none text-primary;
        
        a{
            @apply items-center h-full flex ;
        }
    }

    &.pre-show {
        background-color: rgba(2, 13, 47, 0.5);
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(9px);
        transition: transform .2s ease-out;
    }

    &.show {
        .nav {
            height: calc(100vh - 4.25rem);
        }
    }
} 
