html, body {
    font-family: 'Charm';
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #010510;
}
.title{
    @apply font-bold text-4xl lg:text-5xl mb-16 whitespace-pre-wrap box-border max-w-full w-[360px] ;
    color: #4D5DFB;  
}

