html, body {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #020D1E;
    &::-webkit-scrollbar{
        width: 10px;
        background-color: #020D1E;
    }
    &::-webkit-scrollbar-track{
        background-color: #020D1E;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #021531; 
        border-radius: 5px;
    } 
}

.pages{
    @apply text-letters w-full min-h-[76vh];

    &-container{
        @apply  w-full max-w-7xl mx-auto items-start py-20 px-9 pl-9 pr-9 relative overflow-hidden delay-200;

        &-content{
            @apply block lg:flex flex-col lg:flex-row justify-between items-center w-full;
        }

        .title{
            @apply font-bold text-4xl lg:text-5xl mb-8 whitespace-pre-wrap box-border max-w-full w-[360px] text-primary ;
        }
        
        .subTitle{
            @apply text-center w-full max-w-[31.125rem] mx-auto text-base text-letters font-normal mb-14 pt-5 lg:text-[20px] lg:leading-9;
        }
    }
}
