html, body {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    background-color: #020B1B;
    &::-webkit-scrollbar{
        width: 6px;
        background-color: #020D1E;
    }
    &::-webkit-scrollbar-track{
        background-color: #020D1E;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #fb00ff; 
        border-radius: 5px;
    } 
}

.pages{
    @apply text-letters w-full min-h-full;

    &-container{
        @apply  w-full max-w-7xl mx-auto items-start py-20 px-8 relative overflow-hidden delay-200;

        &-content{
            @apply block lg:flex flex-col lg:flex-row justify-between items-center w-full;
        }

        .title{
            @apply font-bold text-4xl lg:text-5xl mb-8 whitespace-pre-wrap box-border max-w-full w-[360px] text-primary;
        }
        
        ._subTitle{
            @apply text-left w-full mx-auto text-base text-letters font-normal pt-3 lg:text-[20px] lg:leading-9 ;
        }

    }
}
