.pages{            
    .steps {
        @apply pt-12 lg:pt-24 w-full mx-auto;
        &__list {
            @apply 
                max-w-sm
                w-full
                space-y-2
                mx-auto
                lg:space-y-0
                lg:flex
                lg:items-start
                lg:max-w-7xl
                lg:justify-between
                lg:relative
                lg:before:content-['']
                lg:before:absolute
                lg:before:h-[3px]
                lg:before:bg-secondary
                lg:before:top-3
                lg:before:left-[10rem]
                lg:before:right-[10rem];

            &--item {
                @apply 
                    flex
                    items-start
                    gap-2
                    relative
                    min-h-[10rem]
                    after:content-['']
                    after:absolute
                    after:bottom-0
                    after:top-9
                    after:left-[13px]
                    after:w-[3px]
                    after:rounded-sm
                    after:bg-secondary
                    lg:after:hidden
                    lg:flex-col
                    lg:gap-2
                    lg:items-center
                    lg:w-[20rem]
                    xl:w-[20rem];
            
                @media screen and (min-width: 1024px) {
                    min-height: unset;
                }
    
                &:last-child {
                    min-height: unset;
    
                    @apply after:hidden;
                }
    
                span {
                    @apply w-[1.875rem]
                    h-[1.875rem]
                    inline-flex
                    justify-center
                    items-center
                    text-letters
                    flex-none
                    text-base
                    font-semibold
                    rounded-full
                    border-2
                    border-secondary;
                    background-color: #020B1B;
                   
                }
    
                &__info{
                @apply ml-4;
                    .__titleInfo {
                        @apply text-lg font-semibold pt-0.5 lg:text-center text-primary;;
                    }
                    .__timeInfo {
                        @apply text-xs text-slate-400 pt-1 lg:text-center;
                    }
                    .__timeList{
                        li{
                            @apply ml-5 pb-1;
                            list-style-type: disc;
                            &::marker{
                                @apply text-letters text-xl;
                            }
                        }

                        .__resp{
                            @apply ml-2 text-slate-400 text-sm py-2;
                        }
                    }
                    .__timeWork{
                        @apply pt-3 ml-2 text-secondary font-medium;
                    }
    
                }
            }
        }
    } 
}