.letters{
    width: 1200px;
    position: absolute;
    padding-top: 98px;
    font-weight: 700;
    font-size: 200px;
    line-height: 230px;
    letter-spacing: 0.05em;
    color: rgba(114, 124, 137, 0.05);
}