.pages{
   .gridCards{
    max-width: 1024px;
    margin: 0 auto;

        &-cards{
            @apply flex justify-between gap-12 flex-wrap;

            &-contents{
                @apply  p-6 rounded-lg shadow-md dark:bg-gray-800;
                box-shadow: 0 10px 25px -15px #161a50;
                transition: transform 0.15s ease-out;
                background-color: rgba(2, 13, 47, 0.5);
                flex-basis: calc(33% - 50px);
                flex-grow: 1;
                min-width: 280px;
                &:hover{
                    transition: transform 0.15s ease-out;
                    transform: translateY(-7px);
                    box-shadow: 0 10px 25px -15px #040e22;
                }

                h5{
                    @apply mb-2 text-2xl font-semibold tracking-tight text-white;
                }

                p{
                    @apply mb-8 font-normal text-base text-gray-400; 
                }

                &-tools{
                    @apply flex items-center gap-3 text-secondary;
                }
            }
        }

        @media screen and (max-width: 1024px){
           .pages{
                .gridCards{
                    flex-basis: calc(50% - 50px);
                }
           }
        }
    }
}