.pages{
    .wrapper {
        @apply flex w-full justify-center flex-wrap gap-7 transition transform pt-12 lg:pt-24;
      
          .card {
            @apply w-[300px] h-80 rounded-md p-6 relative flex items-end;
            transition: 0.4s ease-out;
            box-shadow: 0px 7px 10px rgba(23, 13, 83, 0.5);

            &:hover{
                @apply transform translate-y-[30px];
              }

              img {
                @apply w-full h-full object-center object-cover absolute top-0 left-0 rounded-md;
              }

              &::before {
                content: "";
                @apply absolute top-0 left-0 block h-full w-full rounded-md bg-slate-900 bg-opacity-50 z-10 transition opacity-0;
              }
          }

          .card:hover:before {
            opacity: 1;
          }
          .card:hover .info {
            opacity: 1;
            transform: translateY(0px);
          }

           .info {
            @apply relative z-20 opacity-0 translate-y-[30px] transition text-white;

            h2{
               @apply mb-4 text-2xl font-bold;
            }
            p{
                @apply text-sm font-normal mb-4;
            }
            a {
                @apply flex font-normal text-sm rounded w-32 h-10 justify-center border-solid border-2 border-secondary hover:bg-secondary hover:bg-opacity-5 cursor-pointer items-center;
            }
        }
        
    }   
}
