.pages{
    .hero{
        @apply pt-28 font-bold text-4xl md:text-6xl lg:text-7xl leading-10;

        &-header{
            @apply flex items-center font-bold text-4xl md:text-6xl lg:text-7xl;
        }
        &-subTitle{
            @apply w-full max-w-lg font-light text-base py-6 whitespace-normal delay-200;
        }
        &-degraded{
            @apply font-bold text-[2.5rem] md:text-6xl lg:text-[80px] overflow-hidden whitespace-normal;
            background: linear-gradient(85.26deg, #4456fa 11.44%, #fb00ff 80.77%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        button{
            @apply flex font-normal text-base px-9 py-5 lg:px-8 lg:py-5 rounded shadow-md;
            background: linear-gradient(85.26deg, #4456fa 11.44%, #fb00ff 80.77%);
            &:hover{
                background: linear-gradient(85.26deg, #596afe 11.44%, #fc3aff 80.77%);
             }
        }
        
    } 
}


