header {
    @apply flex flex-wrap fixed top-0 left-0 w-full transition-all duration-100 z-50 border-b border-solid border-transparent;

    &.scroll {
        background-color: rgba(10, 25, 47, 0.85);
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(7.5px);

        .header {
            @apply lg:py-2.5;
        }
    }

    .header {
        transition: all 0.2s;
      @apply flex flex-wrap w-full pb-2 lg:pl-40 justify-between lg:py-5 lg:flex-nowrap lg:items-center lg:mx-auto lg:max-w-full overflow-hidden;
    }

    .header-link {
      @apply px-3 text-lg inline-block transition-all duration-200 relative lg:px-0 lg:text-base text-white focus:outline-none;
    }

    .nav {
       @apply w-full h-0 transition-all duration-300 lg:w-auto lg:h-auto ;

        nav {
            @apply flex flex-col h-full lg:flex-row pr-0 lg:pr-40;

            .navbar {
                @apply flex flex-col items-center mb-12 lg:flex-row lg:mb-0 lg:flex-1 lg:w-full lg:space-x-8 lg:mt-0 mt-14;

                li {
                    @apply py-3 relative lg:py-0;
                }
            }
        }
    }
    .nav-button {
        @apply pl-8 pt-4 lg:hidden;
    }
    .btn{
        color: #4D5DFB;
        font-family: 'Charm';
        font-weight: 700;
        font-size: 24px;
    }
    .logo {
        @apply h-6 flex lg:h-11 font-bold text-3xl absolute left-1/2  transform -translate-x-1/2 lg:static lg:transform-none;
        color: #4D5DFB;
        font-family: 'Charm';
        a{
            @apply items-center h-full flex mt-5 lg:mt-0;
        }
    }

    &.pre-show {
        @apply bg-slate-900;
    }

    &.show {
        .nav {
            height: calc(100vh - 4.25rem);
        }
    }
}   
  