.pages{
    &-wrapper{
        @apply  w-full max-w-7xl mx-auto items-start py-20 px-9 pl-9 pr-9 relative overflow-hidden  transition-all duration-200;
        .hero{
            @apply lg:flex lg:justify-between lg:items-center transition-all duration-200;

            &-svg{
                @media screen and (max-width: 1024px ) {
                    @apply hidden;
                }
            }
        }
        .content{
            @apply pt-24 font-bold text-4xl md:text-6xl lg:text-7xl leading-10  transition-all duration-200;
    
            &-header{
                @apply flex items-center font-bold text-4xl md:text-6xl lg:text-7xl  transition-all duration-200;
            }
            &-subTitle{
                @apply w-full max-w-md font-light text-base py-10 whitespace-normal  transition-all duration-200;
            }
            &-degraded{
                @apply font-bold text-[2.5rem] md:text-6xl lg:text-[76px] overflow-hidden whitespace-normal  transition-all duration-200;
                background: linear-gradient(85.26deg, #4456fa 11.44%, #fb00ff 80.77%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .btnDownload{
                @apply flex font-normal text-base rounded w-48 h-14 justify-center cursor-pointer items-center;
                background: linear-gradient(85.26deg, #4456fa 11.44%, #fb00ff 80.77%);
                box-shadow: 0px 3px 20px 3px #161a50;
                
                &:hover{
                    transform: translateY(-4px);
                    transition: transform .15s ease-out;
                }
                a{
                    @apply flex;
                }
            }
        }
    }

    .icons{
        @apply w-10 fixed bottom-0 left-[95%] right-auto z-10 list-none;

        ul{
            @apply flex flex-col items-center m-0 p-0;
   
            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 50px;
                margin: 0px auto;
                background-color: rgba(165, 169, 251, 0.8);
            }
        }
        li{
            padding: 10px;
        }

        svg {
            &:hover{
                transform: translateY(-3px);
                transition: transform .2s ease-out;
            }
        }

        @media screen and (max-width: 1024px) {
            @apply hidden transition-all delay-200;
        }
    }
}
    