.pages{
    .hero-section{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        padding: 0px;
    }

    &-wrapper{
        @apply  w-full max-w-7xl mx-auto items-start py-20 px-8 relative overflow-hidden transition-all duration-200;
        .content{
            @apply pt-20 font-bold text-4xl md:text-6xl lg:text-7xl  transition-all duration-200;
    
            &-header{
                @apply flex items-center font-bold text-4xl md:text-6xl lg:text-7xl transition-all duration-200;
            }
            &-coffee{
                @apply flex items-center lg:pb-4;
            }
            &-subTitle{
                @apply w-full max-w-md lg:max-w-lg font-light text-sm lg:text-base py-6 lg:py-8 md:pr-7 lg:pr-0 
                whitespace-normal transition-all duration-200;
            }
            &-degraded{
                @apply font-bold transition lg:text-[6.5vw] md:text-7xl text-[2.921rem] w-full max-w-max transform leading-[50px] 
                cursor-context-menu text-primary;

                &:hover .underline {
                    background-size: 100% 100%;
                }
            }
            .underline {
                width: calc(90%);
                background-image: linear-gradient(transparent calc(100% - 6px), #fb00ff 10px);
                background-repeat: no-repeat;
                background-size: 0% 100%;
                text-decoration: none;
                transition: background-size 1.5s;
              }

            &-download{
                @apply flex font-medium text-white text-base rounded w-48 h-14 justify-center cursor-pointer items-center bg-secondary;
                box-shadow: 0px 3px 20px 3px #161a50;
                a{
                    @apply flex;
                }
            }
        }    
    }
    .letter{
        @apply absolute top-[150px] lg:text-[15vw] font-bold mx-auto px-14
       text-[185px] leading-[320px] transition-all duration-200;
        color: rgba(34, 21, 62, 0.9);

        @media screen and (max-width: 1023px) {
            @apply hidden;
        }
    }

    .icons{
        @apply fixed top-1/2 bottom-0 left-[95%] right-auto z-10 list-none;

        ul{
            @apply flex flex-col items-center m-0 p-0;
   
        }
        li{
            padding: 15px;
        }

        svg {
            &:hover{
                transform: translateY(-3px);
                transition: transform .2s ease-out; 
            }
        }

        @media screen and (max-width: 1024px) {
            @apply hidden transition-all delay-200;
        }
    }
}
