.pages{
    &-wrapper{
        @apply  w-full max-w-7xl mx-auto items-start py-20 px-8 relative overflow-hidden transition-all duration-200;
        .content{
            @apply pt-20 font-bold text-4xl md:text-6xl lg:text-7xl leading-[3.5rem] transition-all duration-200;
    
            &-header{
                @apply flex items-center font-bold text-4xl md:text-6xl lg:text-7xl transition-all duration-200;
            }
            &-subTitle{
                @apply w-full max-w-md lg:max-w-lg font-light text-sm lg:text-base py-6 lg:py-8 md:pr-7 lg:pr-0 whitespace-normal transition-all duration-200;
            }
            &-degraded{
                    @apply 
                    font-bold           
                    transition 
                    lg:text-[95px]
                    md:text-7xl
                    text-[2.921rem]
                    w-full
                    max-w-max
                    transform
                    leading-[50px]
                    cursor-context-menu
                    text-primary;
                    // background: linear-gradient(85.26deg, #4456fa 11.44%, #fb00ff 80.77%);
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    // background-clip: text;
                    word-spacing: normal;

                    &:hover .underline {
                        background-size: 100% 100%;
                      }
            }
            .underline {
                width: calc(90%);
                background-image: linear-gradient(transparent calc(100% - 6px), #fb00ff 10px);
                background-repeat: no-repeat;
                background-size: 0% 100%;
                text-decoration: none;
                transition: background-size 1.5s;
              }

            .btnDownload{
                @apply flex font-medium text-white text-base rounded w-48 h-14 justify-center cursor-pointer items-center bg-secondary;
                box-shadow: 0px 3px 20px 3px #161a50;

                a{
                    @apply flex;
                }
            }
        }
    }

    .icons{
        @apply w-10 fixed bottom-0 left-[95%] right-auto z-10 list-none;

        ul{
            @apply flex flex-col items-center m-0 p-0;
   
            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 50px;
                margin: 0px auto;
                background-color: rgba(165, 169, 251, 0.8);
            }
        }
        li{
            padding: 10px;
        }

        svg {
            &:hover{
                transform: translateY(-3px);
                transition: transform .2s ease-out;
            }
        }

        @media screen and (max-width: 1024px) {
            @apply hidden transition-all delay-200;
        }
    }
}
