.footer{
    @apply text-white w-full h-full;

    &-container{
        @apply  w-full max-w-7xl mx-auto items-start py-20 px-9 pl-9 pr-9 relative overflow-hidden delay-200;

        &-info{
            @apply lg:flex lg:flex-row flex-col lg:justify-between justify-center items-center;
            &-subTitle{
                @apply text-base font-normal w-full  max-w-xs space-y-8;
            }
            &-email{
                @apply lg:pr-9;

                .iconEmail{
                    @apply flex items-center pb-3;
                }

                h2{
                    @apply font-bold lg:text-3xl text-xl;
                    text-decoration-line: underline;
                    background: linear-gradient(90deg, #F907FC 0%, #4D5DFB 97.33%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
    }
    &-socials{
        @apply justify-center text-center pb-3 lg:pt-14 w-full px-4;

        &-icons{
            @apply mb-3 lg:hidden;
            svg{
                @apply inline-block text-center first-line:flex-row;
            }
        }
        span{
            @apply text-sm font-normal text-gray-400;
        }
    }


    &-line{
        @apply w-full h-2 absolute;
        background: linear-gradient(90deg, #F907FC 0%, #4D5DFB 100%);
    }
}